:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

header {
  border: 1px solid green;
  min-height: 150px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  border: 1px solid red;
}

footer {
  border: 1px solid blue;
}


#root{
  max-width: 900px;
  margin: 0 auto;
}


.form-container{
  border: 1px solid yellow;
  display: flex;
  
}

form{
  border: 1px solid purple;
}

form[role="search"]{
  border: 1px solid orange;
}

.form-container .random-button{
  border: 1px solid pink;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
}

img{
  border: 1px solid black;
  width: 100%;
  height: 100%;

}