@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body {
  background-color: rgb(31, 29, 29);
  color: #fff;
  font-family: 'Playfair Display', serif;
}

#root {
  max-width: 90%;
  margin: 0 auto;
}




.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 2rem;
}

.loading-spinner__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 5px solid rgb(255, 255, 255);
  border-top-color: #333;
  animation: spin 1s linear infinite;
}

.loading-spinner__circle--inner {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #333;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}



form{
  display: flex;
  align-items: center;
  margin: 2rem 0;
  padding: 1rem;
  
}

form input[type="date"]{
  border: 1px solid #333;
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
  font-size: 2rem;
  background-color: rgb(214, 211, 211);
}

form button{
  border: 1px solid #333;
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
  font-size: 2rem;
  background-color: rgb(214, 211, 211);
  cursor: pointer;
  margin-left: 2rem;
}

form button:hover{
  background-color: #333;
  color: #e4e0d7;
}


.random{
  display: flex;
  align-items: center;
  padding: 1rem;
}

.random button{
  border: 1px solid #333;
  padding: 0.8rem 1.2rem;
  
  border-radius: 5px;
  font-size: 2rem;
  background-color: rgb(214, 211, 211);
  cursor: pointer;
}


.result {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  margin: 2rem 0;
  border-radius: 10px;
}
.result .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.result .left figure{
  margin: 0;
}

.left h2{
  align-self: flex-start;
  font-size: 2rem;
  margin: 0;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.result .left figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.result .right {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  padding: 2rem;
}

.right h2 {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 1rem;
}

.right span{
  opacity: 0.8;
  margin-bottom: 0.5rem;
}

.right p:first-of-type {
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: 0.5rem;
  opacity: 0.8;
  
}

.right p:last-of-type {
  font-size: 1.3rem;
  line-height: 1.3;
  /* margin: 0; */
}





@media screen and (max-width: 960px) {
  .result {
    grid-template-columns: 1fr;
  }
  .result .left {
    padding: 1rem;
  }
  .result .right {
    padding: 1rem;
  }

  .result .left figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .result .right {
    margin-left: 0;
  }

  .result .left h2 {
    font-size: 1.5rem;
  }

  .result .right h2 {
    font-size: 1.5rem;
  }
}