@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body {
  background-color: rgb(228, 224, 224);
  color: rgb(20, 19, 19);
  font-family: 'Playfair Display', serif;
}

#root {
  max-width: 960px;
  margin: 0 auto;
  width: 90%;
}




.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  padding: 2rem;
  border: 1px solid rgba(51, 51, 51, 0.5);
  border-radius: 5px;
}

.loading-spinner__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 5px solid rgb(255, 255, 255);
  border-top-color: #333;
  border-bottom-color: #333;
  animation: spin 1s linear infinite;
}

.loading-spinner__circle--inner {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #333;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

main{
  margin-top: 2rem;
}

img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

figure{
  margin: 0;
}
.picture{
  padding: 1rem;
  border: 1px solid rgba(51, 51, 51, 0.5);
  border-radius: 5px;
  margin: 1rem 0;
}
.picture h2{
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0;
  text-decoration: underline #333;
}

.picture h2, .picture p{
  text-align: center;
}

.picture .title{
  font-size: 1.2rem;
  font-weight: 700;
  margin: 1rem 0;
}

.explaination{
  margin:2rem 0;
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 1.2;
  border: 1px solid rgba(51, 51, 51, 0.5);
  border-radius: 5px;
  
}





.form-container{
  margin: 2rem 0;
  padding: 1rem;
  border: 1px solid rgba(51, 51, 51, 0.5);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
}

form input{
  padding: 1rem;
  border: 1px solid rgba(51, 51, 51);
  border-radius: 5px;
  margin-right: 1rem;
 
}

.form-container button, form button{
  padding: 1rem;
  border: 1px solid rgba(51, 51, 51);
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  
}

@media (max-width: 768px) {
  .form-container{
    flex-direction: column;
  }
  form{
    margin: 1rem 0;
  }
}